<div class="black">
    <div class="night">
        <div class="shooting_star">I</div>
        <div class="shooting_star">L</div>
        <div class="shooting_star">O</div>
        <div class="shooting_star">V</div>
        <div class="shooting_star">E</div>
        <div class="shooting_star">Y</div>
        <div class="shooting_star">O</div>
        <div class="shooting_star">U</div>
        <div class="shooting_star">S</div>
        <div class="shooting_star">O</div>
        <div class="shooting_star">M</div>
        <div class="shooting_star">U</div>
        <div class="shooting_star">C</div>
        <div class="shooting_star">H</div>
        <div class="shooting_star">As</div>
        <div class="shooting_star">S</div>
        <div class="shooting_star">T</div>
        <div class="shooting_star">A</div>
        <div class="shooting_star">R</div>
        <div class="shooting_star">S</div>
    </div>
</div>

<audio style="position: absolute;right: 0;" controls controlsList="nodownload" src="assets/audio/Habibi_Yeah.mp3" loop="true" autostart="true"></audio>
