<div style="position: inherit;width: 100%; height: 100%; z-index: -2;background: white;" class="white">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <mat-accordion>
                    <mat-expansion-panel class="panel">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Why I Love You ?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="content">
                            <p>I love your eyes when you smile</p>
                            <br>
                            <p>You always care about my problems</p>
                            <br>
                            <p>You make me feel awesome</p>
                            <br>
                            <p>I love you because life is so fun by your side</p>
                            <br>
                            <p>You encourage me to be the best version of myself</p>
                            <br>
                            <p>We are so close we have our own language nobody else can understand</p>
                            <br>
                            <p>I feel strong with you by my side</p>
                            <br>
                            <p>Me & My Heart are Loving You</p>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
            <div class="col-md-4">
                <mat-accordion>
                    <mat-expansion-panel class="panel2">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Why I Need You ?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="content">
                            <p>you're everything to my life</p>
                            <br>
                            <p>you're the best of the best</p>
                            <br>
                            <p>I am empty without I need you beside me</p>
                            <br>
                            <p>you're my strong power</p>
                            <br>
                            <p>My heart beats only for you </p>
                            <br>
                            <p>when you far away from me My heart cannot hold it</p>
                            <br>
                            <p>I need you with me every step I step together</p>
                            <br>
                            <p>We Can Forget The World</p>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
            <div class="col-md-4">
                <mat-accordion>
                    <mat-expansion-panel class="panel3">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                What we will do in the future?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="content">
                            <p>I will make all the girls jealous from you</p>
                            <br>
                            <p>I will love much more than you think</p>
                            <br>
                            <p>I will hug you and make you forget all your thoughts that tired you</p>
                            <br>
                            <p>I will make Breakfast & your Best food all the time</p>
                            <br>
                            <p>together we can fight all our problems</p>
                            <br>
                            <p>I will make all your dreams come true</p>
                            <br>
                            <p>Belive me when I say I will never Let you down </p>
                            <br>
                            <p>Love you from the bottom of my heart always</p>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </div>
    </div>

    <div class="row" style="font-size: 20px;">
        <div class="col-md-12">
            <div class='console-container mt-5'><span id='text'></span>
                <div class='console-underscore' id='console'>&#95;</div>
            </div>
        </div>
    </div>
</div>
