<div class="container">
    <div class="row mt-4 d-flex justify-content-center mt-4 row">
        <div class="col-md-6">
            <label class="mb-3" style="font-size: 24px;" for="">Send a Message for me ❤️</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
            <a href="http://t.me/Mohammed_RTawfeq_Amiri">
                <button class="btn btn-danger mt-3">Send</button>
            </a>
            <div class='console-container mt-4 text-center'><span id='text'></span>
                <div class='console-underscore' id='console'>&#95;</div>
            </div>
        </div>
    </div>
</div>
