// :host ::ng-deep body {
//     background-color: #000 !important;
//     margin: 0 !important;
//     overflow: hidden !important;
// }
p {
    position: absolute;
    color: #c83838;
    top: 45%;
    left: 49%;
    font-size: 75px;
    font-family: "LoveCrush";
}

span {
    position: absolute;
    top: 82px;
    left: 38%;
    font-size: 30px;
    color: white;
    font-family: 'LoveCrush';
}