<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <h3>I</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>I am <span style="color: blue;">Tawfeq</span> with all my thoughts <br> I love you & still loving you until the last breath I will and after that</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="face face1">
            <div class="content">
                <h3>Love</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p style="text-align: right;">أنا ما بس <span style="color: red;">بحبك</span> <br> أنا بموت فيكي بعشق الأرض اللي بتمشي عليها <br> بدي ياكي تكملي معي حياتي و مماتي و ما بعد الممات <br> حبك و قلبي و روحي انتي معلق فيكي و معلق بكل تفاصيلك أنتي هي كل ما أريده في هذه الدنيا
                </p>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="face face1">
            <div class="content">
                <h3>You</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p> <span style="color: lime;">you are my everything</span> <br> you are the fire of my heart <br> you are my little angel <br> I Thank God everytime that I saw you <br> I am so lucky to have you in my life <br> please I am sorry plase come
                    back to me </p>
            </div>
        </div>
    </div>
</div>
